# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
backend/.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
backend/__pycache__
chroma
# vscode
.vscode
backend/chroma_db/chroma.sqlite3
backend/chroma_db/fd66658d-ea3b-4c25-9d15-03d292e6392d/data_level0.bin
backend/chroma_db/fd66658d-ea3b-4c25-9d15-03d292e6392d/length.bin
backend/chroma_db/fd66658d-ea3b-4c25-9d15-03d292e6392d/header.bin
backend/chroma_db/fd66658d-ea3b-4c25-9d15-03d292e6392d/link_lists.bin
